<ion-header>

</ion-header>


<ion-content padding>
  <h1 class="loginHead title">登入</h1>

  <p class="loginP">帳號</p>
  <ion-input type="text" class="box" [(ngModel)]="username"></ion-input>
  <div *ngIf="isWrongUser==true">
    <p class="errorP">查無此帳號</p>
  </div>

  <br>
  <p class="loginP">密碼</p>
  <ion-input type="password" class="box" [(ngModel)]="password"></ion-input>
  <div *ngIf="isWrongPass==true">
    <p class="errorP">密碼錯誤</p>
  </div>

  <p id="forgetPass" (click)=gofindPass()>忘記密碼</p>
  <br>
  <button ion-button block (click)="goHome()" class="myButton">登入</button>
</ion-content>
