page-about {

    

    .loginP {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .errorP {
      font-size: 18px;
      color: #FA1919;
      margin-top: 10px;
    }

    .box {
      border: 1px solid #BEBABA;
      background: #FFFFFF;
    }

    #forgetPass {
      font-size: 18px;
      text-align: right;
    }




}
