<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">{{title}}</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="subPage"  color="primary">
    <ion-segment-button value="order">
      排班順位
    </ion-segment-button>
    <ion-segment-button value="status">
      狀態表格
    </ion-segment-button>
  </ion-segment>

</ion-header>




<ion-content padding>

 <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="300" [enabled]="refresherEnabled">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="crescent"
      refreshingText="更新中">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch] = "subPage">

    <ion-grid *ngSwitchCase="'order'" class="z-depth-2 tablePage">
      <ion-row class="row-header">
        <ion-col col-2 style="font-size: 18px" class="cols">順位</ion-col>
        <ion-col col-5 style="font-size: 18px" class="cols">引水人</ion-col>
        <ion-col col-5 style="font-size: 18px" class="cols">報到時間</ion-col>
      </ion-row>
      <ion-row>

      </ion-row>
      <ion-row *ngFor = "let order of orders;let i=index">
        <ion-col col-2 style="font-size: 18px" class="center cols">{{i+1}}</ion-col>
        <ion-col col-5 style="font-size: 18px" class="center cols">{{order.pilot_id}}&nbsp;{{order.name}}</ion-col>
        <ion-col col-5 class="cols">
          <span style="font-size: 14px">{{order.date}}</span>
          <br>
          <span style="font-size: 18px">{{order.time}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-scroll scrollX="true" scrollY="true" class="horizonScroll" #scrollItem>
      <ion-grid *ngSwitchCase="'status'" class="z-depth-2 tablePage" style="width: 150%">
        <ion-row nowrap class="row-header">
          <ion-col col-3 class="people">引水人</ion-col>
          <ion-col col-3 class="people2">工作狀態</ion-col>
          <ion-col col-2 class="night" style="font-size: 14px">前日<br>大夜班</ion-col>
          <ion-col col-6 class="ship">船舶資訊(狀態/船名/碼頭/噸位)</ion-col>
        </ion-row>
        <ion-row nowrap *ngFor = "let status of statuses">
          <ng-container *ngIf= "status.flower==true">
            <ion-col col-3 class="people center">{{status.pilot_id}} {{status.name}}<br>(插花)</ion-col>
          </ng-container>
          <ng-container *ngIf= "status.flower==false">
            <ion-col col-3 class="people center">{{status.pilot_id}} {{status.name}}</ion-col>
          </ng-container>
          <ng-container *ngIf= "status.pilot_status=='請假中(無代班)'">
            <ion-col col-3 class="people2 center">請假中<br>(無代班)</ion-col>
          </ng-container>
          <ng-container *ngIf= "status.pilot_status=='請假中(有代班)'">
            <ion-col col-3 class="people2 center">請假中<br>(有代班)</ion-col>
          </ng-container>
          <ng-container *ngIf= "status.pilot_status=='掛牌中'">
            <ion-col col-3 class="people2 center">掛牌中<br>({{status.break_number}}, {{status.break_time}})</ion-col>
          </ng-container>

          <ng-container *ngIf= "status.pilot_status!='請假中(無代班)' && status.pilot_status!='請假中(有代班)' && status.pilot_status!='掛牌中'">
            <ion-col col-3 class="people2 center">{{status.pilot_status}}</ion-col>
          </ng-container>

          <ion-col col-2 class="night center">{{status.night_shift}}</ion-col>
          <ion-col col-6 class="shipC">
            <ng-container *ngFor="let ss of status.event_set">
              <ng-container *ngIf="ss.SP_STS=='1'">進港 / {{ss.SP_ENAME}} /<br>S{{ss.SP_INPORT}}->{{ss.SP_PORTPLACE}} / {{ss.SP_TOTDUN}}</ng-container>
              <ng-container *ngIf="ss.SP_STS=='2'">出港 / {{ss.SP_ENAME}} /<br>{{ss.SP_PORTPLACE}}->S{{ss.SP_INPORT}} / {{ss.SP_TOTDUN}}</ng-container>
              <ng-container *ngIf="ss.SP_STS=='3'">移泊 / {{ss.SP_ENAME}} /<br>{{ss.SP_PORTFROM}}->{{ss.SP_PORTPLACE}} / {{ss.SP_TOTDUN}}</ng-container>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-scroll>
  </div>

</ion-content>
