page-boat {

  .cols{
    padding: 1.1%
  }

  .people{
    max-width: 20%
  }

  .people2{
    max-width: 20%
  }

  .night{
    max-width: 11%
  }

  .ship{
    flex: 0 0 49%;
  }

  .shipC{
    flex: 0 0 49%;
    text-align: left;
  }

  .tablePage {
    margin-bottom: 50px;
  }

}
