<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">{{title}}</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="subPage"  color="primary">
    <ion-segment-button value="time">
      工作時間
    </ion-segment-button>
    <ion-segment-button value="record">
      連續帶船紀錄
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="300">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="更新中">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch] = "subPage">
    <div *ngSwitchCase="'time'">
      <ion-card>
        <ion-card-header class="cardHead">
          單趟累積連續總工時<br><span class="centerH"> <span class="big">{{accumulateWorkTime_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;
          <span class="big">{{accumulateWorkTime_m}}</span>&nbsp;&nbsp;分鐘</span>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header class="cardHead">
          個人每月平均日工時
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="date_person" multiple="false" class="myTime">
            <ion-option value="zero">這個月</ion-option>
            <ion-option value="one">上個月</ion-option>
            <ion-option *ngFor="let x of xs; let i = index" [value]="values[i]">{{years[i+2]}} / {{months[i+2]}}</ion-option>
          </ion-select>

          <span style="font-size: 20px" *ngIf="date_person == 'zero'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{zero_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{zero_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'one'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{one_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{one_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'two'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{two_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{two_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'three'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{three_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{three_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'four'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{four_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{four_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'five'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{five_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{five_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'six'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{six_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{six_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'seven'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{seven_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{seven_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'eight'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{eight_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eight_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'nine'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{nine_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{nine_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'ten'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{ten_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{ten_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'eleven'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{eleven_person_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eleven_person_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>


          <br><br>
          <span style="font-size: 20px" *ngIf="date_person == 'zero'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{zero_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{zero_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'one'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{one_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{one_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'two'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{two_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{two_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'three'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{three_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{three_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'four'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{four_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{four_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'five'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{five_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{five_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'six'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{six_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{six_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'seven'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{seven_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{seven_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'eight'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{eight_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eight_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'nine'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{nine_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{nine_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'ten'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{ten_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{ten_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_person == 'eleven'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{eleven_person_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eleven_person_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="join == true">
        <ion-card-header class="cardHead">
          連續帶船組內平均日工時
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="date_group" multiple="false" class="myTime">
            <ion-option value="zeroo">這個月</ion-option>
            <ion-option value="onee">上個月</ion-option>
            <ion-option *ngFor="let x of xs; let i = index" [value]="values_g[i]">{{years[i+2]}} / {{months[i+2]}}</ion-option>
          </ion-select>
          <span style="font-size: 20px" *ngIf="date_group == 'zeroo'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{zero_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{zero_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'onee'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{one_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{one_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'twoo'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{two_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{two_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'threee'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{three_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{three_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'fourr'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{four_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{four_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'fivee'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{five_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{five_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'sixx'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{six_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{six_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'sevenn'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{seven_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{seven_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'eightt'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{eight_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eight_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'ninee'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{nine_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{nine_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'tenn'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{ten_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{ten_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'elevenn'">
            <span class="duty">白天班</span>
            <span class="right"><span class="big">{{eleven_group_day_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eleven_group_day_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>

          <br><br>
          <span style="font-size: 20px" *ngIf="date_group == 'zeroo'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{zero_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{zero_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'onee'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{one_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{one_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'twoo'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{two_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{two_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'threee'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{three_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{three_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'fourr'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{four_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{four_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'fivee'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{five_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{five_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'sixx'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{six_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{six_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'sevenn'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{seven_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{seven_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'eightt'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{eight_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eight_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'ninee'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{nine_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{nine_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'tenn'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{ten_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{ten_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
          <span style="font-size: 20px" *ngIf="date_group == 'elevenn'">
            <span class="duty">大夜班</span>
            <span class="right"><span class="big">{{eleven_group_night_h}}</span>&nbsp;&nbsp;小時&nbsp;&nbsp;<span class="big">{{eleven_group_night_m}}</span>&nbsp;&nbsp;分鐘</span>
          </span>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-scroll scrollX="true" class="horizonScroll" *ngSwitchCase="'record'">
      <p class="dateP">{{date1}}</p>
      <ion-grid class="z-depth-2" style="width: 150%">
        <ion-row nowrap class="row-header">
          <ion-col col-2 class="time">發生<br>時間</ion-col>
          <ion-col col-3 class="people">連續帶船<br>引水人</ion-col>
          <ion-col col-3 class="people">連續休息<br>引水人</ion-col>
          <ion-col col-6 class="ship">船舶資訊(狀態/船名/碼頭/噸位)</ion-col>
        </ion-row>
        <ion-row nowrap *ngFor="let change of changes">
          <!-- <ng-container *ngIf="change.today"> -->
            <ion-col col-2 class="time center">{{change.time}}</ion-col>
            <ion-col col-3 class="people center">{{change.pilot_work.pilot_id}} {{change.pilot_work.name}}</ion-col>
            <ion-col col-3 class="people center">{{change.pilot_wait.pilot_id}} {{change.pilot_wait.name}}</ion-col>
            <ion-col col-6 class="shipC" *ngIf="change.SP_STS=='I'" style="text-align: left">進港 / {{change.SP_ENAME}} /<br>S{{change.SP_INPORT}}->{{change.SP_PORTPLACE}} / {{change.SP_TOTDUN}}</ion-col>
            <ion-col col-6 class="shipC" *ngIf="change.SP_STS=='O'" >出港 / {{change.SP_ENAME}} /<br>{{change.SP_PORTPLACE}}->S{{change.SP_INPORT}} / {{change.SP_TOTDUN}}</ion-col>
            <ion-col col-6 class="shipC" *ngIf="change.SP_STS=='T'">移泊 / {{change.SP_ENAME}} /<br>{{change.SP_PORTFROM}}->{{change.SP_PORTPLACE}} / {{change.SP_TOTDUN}}</ion-col>
          <!-- </ng-container> -->
        </ion-row>
      </ion-grid>

      <br><br>
      <!-- <p class="dateP">{{date2}}</p>
      <ion-grid class="z-depth-2" style="width: 150%">
        <ion-row nowrap class="row-header">
          <ion-col col-2 class="time">發生<br>時間</ion-col>
          <ion-col col-3 class="people">連續帶船<br>引水人</ion-col>
          <ion-col col-3 class="people">連續休息<br>引水人</ion-col>
          <ion-col col-6 class="ship">船舶資訊(狀態/船名/碼頭/噸位)</ion-col>
        </ion-row>
        <ion-row nowrap *ngFor="let change of changes">
          <ng-container *ngIf="!change.today">
            <ion-col col-2 class="time center">{{change.time}}</ion-col>
            <ion-col col-3 class="people center">{{change.pilot_work.pilot_id}} {{change.pilot_work.name}}</ion-col>
            <ion-col col-3 class="people center">{{change.pilot_wait.pilot_id}} {{change.pilot_wait.name}}</ion-col>
            <ion-col col-6 class="shipC" *ngIf="change.SP_STS=='I'" style="text-align: left">進港 / {{change.SP_ENAME}} /<br>S{{change.SP_INPORT}}->{{change.SP_PORTPLACE}} / {{change.SP_TOTDUN}}</ion-col>
            <ion-col col-6 class="shipC" *ngIf="change.SP_STS=='O'" >出港 / {{change.SP_ENAME}} /<br>{{change.SP_PORTPLACE}}->S{{change.SP_INPORT}} / {{change.SP_TOTDUN}}</ion-col>
            <ion-col col-6 class="shipC" *ngIf="change.SP_STS=='T'">移泊 / {{change.SP_ENAME}} /<br>{{change.SP_PORTFROM}}->{{change.SP_PORTPLACE}} / {{change.SP_TOTDUN}}</ion-col>
          </ng-container>
        </ion-row>
      </ion-grid> -->
    </ion-scroll>

  </div>
</ion-content>
